.myBox{
  padding: 20px;
  width: 100vw;
  min-height: 100vh;
  background: url('https://cdn2.mihuiai.com/plan-8.jpg') no-repeat;
  background-size:  100% 100%;
  .logoutBox{
    display: flex;
    justify-content: center;
    width: calc(100% - 40px);
    .logout{
      width: 100%;
      box-sizing: border-box;
    }
  }
}
